.user-card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.user-card img{
    width: 100%;
    height: 100px;
    border-radius: 5%  ;
    margin-bottom: 15px;
}
.user-card button{
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.user-card  p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;

}
.user-card h1{
    color: rgb(64, 23, 39);
}